.default-toast {
    padding: .7rem;
    margin: .2rem .5rem;
    color: #fff;
    font-family: sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    width: 250px;
    height: fit-content;

    border-radius: 10px;
}

.default-success {
    background-color: #28a745;
}

.default-info {
    background-color: #17a2b8;
}


.default-error {
    background-color: #dc3545;
}