:root {
  --light-mode: #FFFFFE;
  --dark-mode: #121826;
  --btn-disabled: #364153;
  --btn-enabled: #406AFF;
  --select-background-color: #CED6E1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

* {
  /* outline: 1px solid red; */

}

#App-container {
  background-image:
    url('./resources/Hero-Background-notecode@2x.png'),
    linear-gradient(to bottom right, rgba(183, 135, 245, 0.8), rgba(116, 62, 228, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 72px;
  height: 100vh;

}

#header {
  text-align: center;
}

#header>* {
  margin: 16px;
}

#logo {
  background-image: url('./resources/NoteCodeLogo.svg');
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#editor-container {
  background-color: var(--monaco-background);
  padding: 10px;
  border-radius: 10px;
  height: 600px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#editor-wrapper {
  flex: 1;
}

#toolbar-container {
  display: flex;
  justify-content: space-between;
}

#toolbar-container div,
#toolbar-container form {
  display: flex;
  align-items: end;
}

#toolbar-container select {
  width: 90px;
  height: 30px;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
  background-color: var(--select-background-color);
  border: none;
}

#toolbar-container button {

  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 5px;
  border-radius: 20px;
  margin: 5px;
  color: #406AFF;
}

#toolbar-container button[type='button'] i {
  width: 20px;
  height: 20px;
  background-image: url('./resources/Share.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0 5px;
  filter: invert(68%) sepia(73%) saturate(583%) hue-rotate(175deg) brightness(101%) contrast(91%);

}

.share-button {
  color: aqua;
  /* This will color the SVG stroke */
}


#toolbar-container button[type='submit'] {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--btn-enabled);
  font-size: 18px;
  color: white;
}

#toolbar-container button[type='submit']:disabled {
  background-color: var(--btn-disabled);

}

#toolbar-container button[type="submit"] i {
  width: 20px;
  height: 20px;
  background-image: url('./resources/Share.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0 5px;
}

.author-info {
  grid-column: 1 / -1;
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}